{% if shop.customer_accounts_enabled %}
  {% assign ssw_fave_enabled = 1 %}
  {% if shop.metafields.ssw['fave_enabled'] %}
    {% assign ssw_fave_enabled = shop.metafields.ssw['fave_enabled'] %}
  {% endif %}
  {% if ssw_fave_enabled == 1 %}
    {% assign productId = ssw-widget-faveicon %}
    <div class="ssw-faveiticon sswfaveicon{{ productId }}">
      <i data-product-id="{{ productId }}" data-count="0" class="ssw-icon-heart-o ssw-fave-icon ssw-wishlist-element ssw-not-synch"
         title="{{ 'socialshopwave.fave' | t }}"
         data-params='{"product_id":"{{ productId }}","event":"fave_button","page":"product_profile"}'></i>
      <span class="faves-count">...</span>
    </div>
  {% endif %}
{% endif %}