<!-- /templates/customers/register.liquid -->

<div class="grid">

  <div class="grid__item large--one-third push--large--one-third text-center">

    <header class="section-header">
      <h1>{{ shop.metafields.locales.edit_account }}</h1>
      <hr class="hr--small">
    </header>

    <div class="form-vertical">
      {% include 'customer-fields' %}
    </div>

  </div>

</div>
